#main {
    background: hsla(217, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%, hsla(186, 100%, 69%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%, hsla(186, 100%, 69%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%, hsla(186, 100%, 69%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061ff", endColorstr="#60efff", GradientType=1 );

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 100%;
    width: 100%;
}

#intro-spacer {
    height: 12vh;
}

#intro-text-wrapper > p{
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;

    color: white;

    max-width: 500px;

}

#intro-text-wrapper > p:first-of-type {
    font-weight: 900;
    font-size: 3vh;
}

#intro-text-wrapper > :not(P:first-of-type) {
    font-weight: 900;
    font-size: 8vh;
}

#intro-image {
    max-width: 200px;
    width: auto;
    height: auto;
}